// variables
$primary-color: #ee6123;
$primary-color-hover: #f89a71;
$white: #fff;
$white-hover: #f8eae5;
$secondary-color: #024333;
$error-color: #ff1f1f;
$background-color: #fbd7c8;
$primary-light: rgba(238, 97, 35, 0.4);
$grey: grey;
button,
.action {
  font-weight: 600;
  font-family: Inter, sans-serif;
  background-color: white;
  color: $primary-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  //width: 250px;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    background-color: $white-hover;
  }
  &.rounded {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.primary {
    background-color: $primary-color;
    color: white;
  }
  &.secondary {
    color: white;
    background-color: $secondary-color;
  }
}

h1 {
  color: #ee6123;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  font-family: Inter, sans-serif;
  gap: 20px;
  margin-bottom: 50px;
  max-width: 1000px;
  width: 100%;
}
